# Core Stuff
sphinx
babel
docutils
imagesize
pygments
snowballstemmer
breathe

# Theme
furo
alabaster
myst-parser

# nice formatting stuff
sphinx-codeautolink
sphinx-copybutton
sphinx-gallery
sphinx-design
sphinx-autodoc-typehints
ipywidgets
matplotlib
pillow

sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml

# other random stuff
certifi
idna
jinja2
markupsafe
packaging
requests
roman_numerals
trame
trame-vtk
trame-vuetify
urllib3
